{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-5">
        <div class="row">
            <div class="col-12 col-md-12">
                <h2 class="logo-font text-center mb-4">Nutrition Management</h2>
                <hr>
                <h5 class="text-muted text-uppercase mb-5">Add a Nutrition Plan</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-12">
                <form method="POST" action="{% url 'add_menu_admin' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image_file' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div class="text-right">
                        <a class="btn" href="{% url 'home' %}">Cancel</a>
                        <button class="btn btn-secondary btn-sm" type="submit">Add Menu</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}