{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <section class="margin-section">
    <div class="container-fluid">
      <div class="row">
          <div class="col text-center mt-3">
            {% if request.user.is_superuser %}
              <h2 class="">Nutrition Management</h2>
            {% else %} 
              <h2 class="">My Nutrition Plan</h2>
            {% endif %}  
              <hr class="w-25 mt-1 mb-2">
          </div>
      </div>
      <section class="container">
        <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">
            {% for n in nutrition_obj %}
              <a class="nav-link {% if n.day == 1 %}active{% endif %}" id="{{ n.day }}" data-toggle="tab" href="#tab-{{ n.day }}" role="tab" aria-controls="tab-{{ n.day }}" aria-selected="{% if n.day == 1 %}true{% else %}false{% endif %}">Day {{ n.day }}</a>
            {% endfor %}
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          {% for n in nutrition_obj %}

          {% if n.day == 1 %}
            <div class="tab-pane fade show active bg-white" id="tab-{{ n.day }}" role="tabpanel" aria-labelledby="{{ n.day }}">
              <div class="">
              <div class="img-fluid {% if request.user.is_superuser %} position-relative {% endif %}">
                  {% if request.user.is_superuser %}
                  <button class="btn btn-primary">
                    <a href="{% url 'edit_menu_admin' n.id %}">Edit Menu</a>
                  </button>
                  {% endif %}
                    {% if n.image_file %}
                        <a href="{{ n.image_file.url }}" target="_blank">
                            <img class="card-img-top img-fluid" src="{{ n.image_file.url }}" alt="{{ n.plan_name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ n.plan_name }}">
                        </a>
                    {% endif %}
                </div>
              </div>
                <div class="container mt-3 pb-2 margin-container">
                  <div class="row mb-3">
                    <div class="col">
                      <div>
                        <h6 class="text-center">Daily Cal</h6>
                        <p class="text-center">{{ n.daily_total_cal }}cal</p>
                      </div>
                      <div>
                    </div>
                  </div>
                  <div class="col">
                    <div>
                      <h6 class="text-center">Protein</h6>
                      <p class="text-center">{{ n.protein }}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div>
                      <h6 class="text-center">Carbohydrates</h6>
                      <p class="text-center">{{ n.carbohydrates }}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div>
                      <h6 class="text-center">Fiber</h6>
                      <p class="text-center">{{ n.fiber }}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div>
                      <h6 class="text-center">Fat</h6>
                      <p class="text-center">{{ n.fat }}</p>
                    </div>
                  </div>
                  <div class="col">
                    <div>
                      <h6 class="text-center">Sodium</h6>
                      <p class="text-center">{{ n.sodium }}mg</p>
                    </div>
                  </div>
                </div>
                <hr>
                <div>
                  <h4 class="mb-3 mt-4">Breakfast</h4>
                    <p>{{ n.breakfast | linebreaks }}</p>
                </div>
                <div>
                  <h4 class="mt-5 mb-3">AM Snack</h4>
                  <p>{{ n.am_snack | linebreaks  }}</p>
                </div>
                <div>
                  <h4 class="mt-5 mb-3">Lunch</h4>
                  <p>{{ n.lunch | linebreaks  }}</p>
                </div>
                <div>
                  <h4 class="mt-5 mb-3">PM Snack</h4>
                  <p>{{ n.pm_snack | linebreaks  }}</p>
                </div>
                <div>
                  <h4 class="mt-5 mb-3">Dinner</h4>
                  <p>{{ n.dinner | linebreaks  }}</p>
                </div>
              </div>
            </div>
          {% else %}
          <div class="tab-pane fade show bg-white" id="tab-{{ n.day }}" role="tabpanel" aria-labelledby="{{ n.day }}">
            <div class="">
              <div class="img-fluid {% if request.user.is_superuser %} position-relative {% endif %}">
                {% if request.user.is_superuser %}
                <button class="btn btn-primary">
                  <a href="{% url 'edit_menu_admin' n.id %}">Edit Menu</a>
                </button>
                {% endif %}
                  {% if n.image_file %}
                      <a href="{{ n.image_file.url }}" target="_blank">
                          <img class="card-img-top img-fluid" src="{{ n.image_file.url }}" alt="{{ n.plan_name }}">
                      </a>
                  {% else %}
                      <a href="">
                          <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ n.plan_name }}">
                      </a>
                  {% endif %}
              </div>
            </div>
            <div class="container mt-3 pb-2 margin-container">
              <div class="row mb-3">
                <div class="col">
                  <div>
                    <h6 class="text-center">Daily Cal</h6>
                    <p class="text-center">{{ n.daily_total_cal }}cal</p>
                  </div>
                  <div>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6 class="text-center">Protein</h6>
                  <p class="text-center">{{ n.protein }}</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6 class="text-center">Carbohydrates</h6>
                  <p class="text-center">{{ n.carbohydrates }}</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6 class="text-center">Fiber</h6>
                  <p class="text-center">{{ n.fiber }}</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6 class="text-center">Fat</h6>
                  <p class="text-center">{{ n.fat }}</p>
                </div>
              </div>
              <div class="col">
                <div>
                  <h6 class="text-center">Sodium</h6>
                  <p class="text-center">{{ n.sodium }}mg</p>
                </div>
              </div>
            </div>
            <hr>
            <div>
              <h4 class="mb-3 mt-4">Breakfast</h4>
                <p>{{ n.breakfast | linebreaks }}</p>
            </div>
            <div>
              <h4 class="mt-5 mb-3">AM Snack</h4>
              <p>{{ n.am_snack | linebreaks  }}</p>
            </div>
            <div>
              <h4 class="mt-5 mb-3">Lunch</h4>
              <p>{{ n.lunch | linebreaks  }}</p>
            </div>
            <div>
              <h4 class="mt-5 mb-3">PM Snack</h4>
              <p>{{ n.pm_snack | linebreaks  }}</p>
            </div>
            <div>
              <h4 class="mt-5 mb-3">Dinner</h4>
              <p>{{ n.dinner | linebreaks  }}</p>
            </div>
          </div>
          </div>
          {% endif %}

          {% endfor %}
            </div>
      </section>
  </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>

$('#nav-tab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
})
</script>
{% endblock %}