{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container h-100">
        <div class="row h-100">
            <div class="col-7 col-md-6 text-margin">
                <h1>NEW & FUN WORKOUTS EVERY WEEK</h1>
                <hr>
                <p>Get fitter, stronger, healthier and more confident. Join me and get exclusive access to my personal workouts, 
                    meal plans and fitness secrets that are changing the lives of thousands of women around the world.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}