{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
        <div class="row">
            <div class="col-5 col-md-5 text-margin text-white">
                <h1>NEW & FUN MEALS<br/>EVERY WEEK</h1>
                <hr />
                <p>Get fitter, stronger, healthier and more confident. Join me and get exclusive access to my personal 
                    meal plans and fitness secrets that are changing the lives of thousands of people around the world.
                </p>
            </div>
        </div>
    </div>
    
{% endblock %}