{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'user_profile/css/user-profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-5 mob-margin">
        <div class="row">
            <div class="col">
                <h2 class="mb-4 text-center">My Profile</h2>
                <hr/>
                {% if user.is_authenticated %}
                    <p class="text-center">Hi {{ user|upper }}, welcome back!</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-3 side-nav-profile nav flex-column nav-pills nav-user" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My Details</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Order History</a>
                {% if has_plan  %}
                    <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Nutrition Plan</a>
                {% endif %}

                {% if request.user.is_superuser %}
                    <a class="nav-link" href="{% url 'add_product_admin' %}">Product Management</a>
        
                    <a class="nav-link" href="{% url 'nutrition' %}">Nutrition Menu Management</a>
            
                    <a class="nav-link" href="{% url 'edit_subscription_admin' '1' %}">Plan Management</a>
                {% endif %}

                <a class="btn btn-sm btn-danger mt-5 mb-5" href="{% url 'account_logout' %}"><i class="fas fa-power-off"></i> Sign Out</a>
            </div>
            <div class="col-md-9 bg-white tab-content mb-5 rounded tab-user" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                
                    <p class="text-muted lead">My Details</p>
                    <form class="mt-3 mb-5" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-secondary text-uppercase float-right">Update details</button>
                    </form>
                   
                </div>
                <div class="col-md-12 tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <p class="text-muted lead">Order History</p>
                    <div class="order-history table-responsive">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th>Order Number</th>
                                    <th>Date</th>
                                    <th>Items</th>
                                    <th>Order Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders %}
                                    <tr  class="border-bottom pb-1 pt-1">
                                        <td>
                                            <a href="{% url 'product_order_history' order.order_number %}"
                                            title="{{ order.order_number }}">
                                                {{ order.order_number|truncatechars:10 }}
                                            </a>
                                        </td>
                                        <td class="small">{{ order.date }} </td>
                                        <td>
                                            <ul class="list-unstyled">
                                                {% for product_item in order.lineorders.all %}
                                                    <li class="small">
                                                        {% if product_item.product.product_sizes %}
                                                            Size {{ product_item.product.size|upper }}
                                                        {% endif %}{{ product_item.product.product_name }} x{{ product_item.product_quantity }}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </td>
                                        <td>€{{ order.shop_total }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% if has_plan %}
                    {% for order in orders %}
                        {% for o in order.lineorders.all %}
                            {% if o.product.category.category_name == 'nutrition_plan' %}
                                <div class="col-md-12 tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <p class="text-muted lead">Nutrition Plan</p>
                                    <div class="subscription-order table-responsive">
                                        <table class="table table-sm table-borderless">
                                            <thead>
                                                <tr>
                                                    <th>Order Number</th>
                                                    <th>Date</th>
                                                    <th>Plan</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    <tr>
                                                        <td>
                                                            <a href="{% url 'product_order_history' order.order_number %}"
                                                            title="{{ order.order_number }}">
                                                                {{ order.order_number|truncatechars:15 }}
                                                            </a>
                                                        </td>
                                                        <td class="small">{{ order.date }} </td>
                                                        <td>Nutrition</td>
                                                    </tr>
                                                
                                            </tbody>
                                        </table>
                                        <div class="mx-auto text-center mt-5 border border-success p-3">
                                            <p class="lead">Please check here your Nutrition Plan</p>
                                            <a class=" btn btn-secondary" href="{% url 'nutrition' %}">SEE YOUR PLAN</a>
                                        </div> 
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'user_profile/js/country_field.js' %}"></script>
{% endblock %}