html {
    height: 100%;
}

body {
    background: url('../../media/girls.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 300px);  
    color: rgb(3, 3, 3);
    font-family: 'Roboto';
}

header {
    position: fixed;
    width: 100%;
    top: auto;
    z-index: 1002;
    background-color: #333C3C;
}

nav a {
    color: #ffffff;
}

.align-text-center{
    text-align: center;
}

.text-margin{
    margin-top: 500px;
    margin-left: 700px;
}
 /* ---- Code From ckz8780 /boutique_ado_v1 -------*/
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #e2e3dd;
	z-index: -1;
}

 /* ---------------------------------- Products */

.sidenav {
    background: #ffff;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #353636;
    display: block;
    font-size: 1rem;
}
  
.sidenav a:hover {
    color: #a8b662;
}

.product-section{
    margin-top: 100px;

}



/* ---------------------------------- Product Detail */
.overlay-color{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #a8b662;
	z-index: -1;
    
}

.product-detail-section{
    background: #e2e3dd;
    border-radius: 5px;
    margin-top: 130px;
}

.product-container{
    padding: 3rem;
}

.img-container {
    max-height: 300px;
    max-width: 300px;
    margin: 0 auto;
}

.product-detail-container{
    max-width: 100%;
}
.product-detail-container .text-muted{
    margin-bottom: 40px;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .product-container {
        margin-top: 250px;
    }
}