{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <section class="margin-section">
    <div class="container">
      <div class="row">
          <div class="col text-center mt-3">
              <h2 class="">Nutrition Plan</h2>
              {{ plan_name}}
              <hr class="w-25 mt-1 mb-2">
          </div>
      </div>
      <div class="row row-cols-1
       row-cols-md-4">
        {% for plan in subscriptions %}
          <div class="col">
            <div class="card">
              {% if plan.image_file %}
                <img src="{{ plan.image_file.url }}" class="card-img-top" alt="{{ plan.plan_name }}">
              </a>
              {% else %}
                  <img src="{{ MEDIA_URL }}noimage.png" class="card-img-top img-fluid" alt="{{ plan.plan_name }}">
              </a>
              {% endif %}
              <div class="card-body">
                <h6 class="card-title">{{ plan.plan_duration }}</h6>
                <p class="card-text">{{ plan.description}}.</p>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>  
{% endblock %}
