{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="overlay"></div>
  <section class="margin-section">
    <div class="container">
      <!-- <div class="row">
          <div class="col text-center mt-3">
              <h2 class="">Subscription Plan </h2>
              <hr class="w-25 mt-1 mb-2">
          </div>
      </div> -->
      <div class="container">
        <div class="jumbotron">
          <h1 class="display-3">Thank You</h1>
          <p class="lead">Your subscription order number is {{subscription_order.order_number}}.</p> 
          <p class="lead"><a href="{% url 'nutrition' %}">Click Here</a> to see your Nutrition Plan.</p>
        </div>
      </div>
  </section>  
{% endblock %}