{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <!-- Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="shortcut icon" href="{% static 'media/favicon.ico' %}"/>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@900&family=Roboto:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://raw.githubusercontent.com/nashio/star-rating-svg/master/src/css/star-rating-svg.css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <!-- FontAwsome Kit, jQuery, then Popper.js, then Bootstrap JS -->
    <script src="https://kit.fontawesome.com/2976f97c65.js" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Stripe -->
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js%}
    {% endblock %}

    <title>Body Balance {% block extra_title %}{% endblock %}</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <p class="text-white">you're logged in as {{ user }}</p>
{% endif %}
    <header class="header">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-dark {% url 'home' as home %}{% if request.get_full_path == home %} nav-home {% else %} nav-pages {% endif %} navbar-expand-lg fixed-top">
                   
                    <a class="header-logo" href="{% url 'home' %}">
                        <img src="{% static 'img/body-balance-logo.png' %}" alt="logo"/>
                    </a>

                {% url 'checkout' as checkout %}
                {% if request.get_full_path == checkout %}
                    <div class="col d-flex justify-content-center">
                        <h3 class="checkout-title">Checkout</h3>
                    </div>
                {% else %}
                    <div class="list-inline-item ml-auto d-block d-lg-none">
                        <a class="nav-link position-relative green-hover" href="{% url 'shop_bag' %}">
                            <div class="text-center">
                                <span class="badge">{{ product_count }}</span>
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4H19C19.5523 4 20 4.44771 20 5V19C20 19.5523 19.5523 20 19 20H5C4.44772 20 4 19.5523 4 19V5C4 4.44772 4.44771 4 5 4ZM2 5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V5ZM12 12C9.23858 12 7 9.31371 7 6H9C9 8.56606 10.6691 10 12 10C13.3309 10 15 8.56606 15 6H17C17 9.31371 14.7614 12 12 12Z" fill="currentColor" /> </svg>
                                <p class="my-0">
                                    {% if shop_total %}
                                        €{{ shop_total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </div>
                    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-center" id="navbarCollapse">
                        <ul class="navbar-nav ml-auto pt20">
                            <li class="list-inline-item">
                                <a class="nav-link" href="{% url 'shop_subscription_plan' %}">NUTRITION</a>
                            </li>
                            <li class="list-inline-item">
                                <a class="nav-link" href="{% url 'shop_products' %}">PRODUCTS</a>
                            </li>
                            <li class="list-inline-item">
                                {% if request.user.is_authenticated %}
                                    <a class="nav-link" href="{% url 'profile' %}">MY PROFILE</a>
                                {% else %}
                                    <a class="btn btn-green border-0" href="{% url 'account_login' %}" >SIGN IN</a>
                                {% endif %}
                            </li>
                        
                            <li class="list-inline-item d-none d-lg-block mt10">
                                <a class="nav-link position-relative green-hover" href="{% url 'shop_bag' %}">
                                    <div class="text-center">
                                        <span class="badge">{{ product_count }}</span>
                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4H19C19.5523 4 20 4.44771 20 5V19C20 19.5523 19.5523 20 19 20H5C4.44772 20 4 19.5523 4 19V5C4 4.44772 4.44771 4 5 4ZM2 5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V5ZM12 12C9.23858 12 7 9.31371 7 6H9C9 8.56606 10.6691 10 12 10C13.3309 10 15 8.56606 15 6H17C17 9.31371 14.7614 12 12 12Z" fill="currentColor" /> </svg>
                                        <p class="my-0">
                                            {% if shop_total %}
                                                €{{ shop_total|floatformat:2 }}
                                            {% else %}
                                                €0.00
                                            {% endif %}
                                        </p>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}
                </nav>
            </div>
        </div>
    </header>

    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

    {% block page_header%}
    {% endblock %}

    {% block content%}
    {% endblock %}

    {% block postloadjs%}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
    {% endblock %}

  </body>
  <footer class="fixed-bottom">
    <div>
        <p class="text-white m-2 small">&copy; Copyright</p>
    </div>
</footer>
</html>