{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay-color"></div>
    <section class="container">
        <div class="row">
            <div class="col-12 mb-3 mt-5">
                <a href="{% url 'shop_products' %}" class="btn mt-5">
                    <span class="icon">
                        <i class="fas fa-arrow-left"></i>
                    </span>
                    <span class="text-uppercase">Back to Shopping</span>
                </a>
            </div>
        </div>
        <div class="product-container product-detail-section mt-0">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="img-container">
                        {% if product.image_file %}
                            <a href="{{ product.image_file.url }}" target="_blank">
                                <img class="card-img-top img-fluid" src="{{ product.image_file.url }}" alt="{{ product.product_name }}">
                            </a>
                        {% else %}
                            <a href="">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.product_name }}">
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="product-detail-container mb-5">
                        {% if product.category %}
                            <p class="small mt-0 mb-1">
                                <a class="text-muted small" href="{% url 'shop_products' %}?category={{ product.category.category_name }}">
                                    <em>{{ product.category.category_friendly_name }}</em>
                                </a>
                            </p>
                        {% endif %}
                        <h3>{{ product.product_name }}</h3>
                        <div class="row">
                            <div class="col">
                                {% if product.rating %}
                                    <small class="my-rating" data-rating="{{ product.rating }}"></small>
                                {% else %}
                                    <small class="text-muted">No Rating</small>
                                {% endif %}
                            </div>
                        </div>
                        <p class="mt-3">{{ product.description }}</p>
                        <p class="price text-left">‎<small>€</small>{{ product.price }} <span class="{% if product.category.category_name == 'nutrition_plan' %} d-none {% endif %}"><small> + shipping </small></span></p>
                        <form class="form" action="{% url 'add_products_to_bag' product.id %}" method="POST">
                            {% csrf_token %}
                                <div class="form-row">
                                    {% with product.product_sizes as size %}
                                        {% if size %}
                                            <div class="col-12">
                                                <p class="mt-3 mb-0">Select size</p>
                                                <div class="btn-group btn-group-toggle w-100" data-toggle="buttons" id='id_product_size'>
                                                    <label class="btn btn-green active">
                                                      <input type="radio" value="xs"  name="product_size" id="xs" autocomplete="off" checked> XS
                                                    </label>
                                                    <label class="btn btn-green">
                                                      <input type="radio" value="s"  name="product_size" id="s" autocomplete="off"> S
                                                    </label>
                                                    <label class="btn btn-green">
                                                      <input type="radio"  value="m" name="product_size" id="m" autocomplete="off"> M
                                                    </label>
                                                    <label class="btn btn-green">
                                                      <input type="radio" value="l"  name="product_size" id="l" autocomplete="off"> L
                                                    </label>
                                                    <label class="btn btn-green">
                                                      <input type="radio"  value="xl" name="product_size" id="xl" autocomplete="off"> XL
                                                    </label>
                                                </div>
                                            
                                            </div>
                                        {% endif %}
                                            
                                            <div class="container mt-5">
                                                <!-- <div class="col-md-12"> -->
                                                    
                                                    {% if product.category.category_name == "nutrition_plan" %}
                                                        {% if nutrition_in_bag %}
                                                            <div> <p>Item already in bag</p></div>
                                                            
                                                        {% else %}
                                                        <button type="submit" class="btn text-center add-to-cart w-100">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4H19C19.5523 4 20 4.44771 20 5V19C20 19.5523 19.5523 20 19 20H5C4.44772 20 4 19.5523 4 19V5C4 4.44772 4.44771 4 5 4ZM2 5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V5ZM12 12C9.23858 12 7 9.31371 7 6H9C9 8.56606 10.6691 10 12 10C13.3309 10 15 8.56606 15 6H17C17 9.31371 14.7614 12 12 12Z" fill="currentColor" /> </svg>
                                                            ADD TO BAG
                                                        </button>
                                                        {% endif %}
                                                    {% else %}
                                                        <button type="submit" class="btn text-center add-to-cart w-100">
                                                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" > <path fill-rule="evenodd" clip-rule="evenodd" d="M5 4H19C19.5523 4 20 4.44771 20 5V19C20 19.5523 19.5523 20 19 20H5C4.44772 20 4 19.5523 4 19V5C4 4.44772 4.44771 4 5 4ZM2 5C2 3.34315 3.34315 2 5 2H19C20.6569 2 22 3.34315 22 5V19C22 20.6569 20.6569 22 19 22H5C3.34315 22 2 20.6569 2 19V5ZM12 12C9.23858 12 7 9.31371 7 6H9C9 8.56606 10.6691 10 12 10C13.3309 10 15 8.56606 15 6H17C17 9.31371 14.7614 12 12 12Z" fill="currentColor" /> </svg>
                                                            ADD TO BAG
                                                        </button>
                                                    {% endif %}
                                                    
                                                    {% if request.user.is_superuser %}
                                                        <small class="ml-3">
                                                            <a href="{% url 'edit_product_admin' product.id %}">Edit</a> |
                                                            <a class="text-danger" href="{% url 'delete_product_admin' product.id %}">Delete</a>
                                                        </small>
                                                    {% endif %}
                                                <!-- </div> -->
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                    {% endwith %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/product_quantity_script.html' %}
<script src="{% static 'products/js/jquery.star-rating-svg.js' %}"></script>
<script>
    $(".my-rating").starRating({
        totalStars: 5,
        useGradient: false,
        readOnly: true,
        strokeColor: '#894A00',
        strokeWidth: 10,
        starSize: 25
    });
</script>
{% endblock %}